.Rproj.user
.Rhistory
.RData
Codebook.pdf
Terrorism.Rproj
gtd_11to14_0615dist.csv
gtd_11to14_0615dist.xlsx
gtd_92to10_0615dist.csv
gtd_92to10_0615dist.xlsx
US_terror.html
US_terror_cache
US_terror_files
